# Temp / OS Files
.DS_Store

# Logs
logs
*.log

# Dependencies
node_modules

# Debug log from npm
npm-debug.log

# Coverage output
.nyc_output
coverage

# Build output
umd
commonjs
example/build/

# Flow-Types
flow-typed/